[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
