<h2>Launch deployment</h2>
<h4>Configure your deployment</h2>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name-field">Name</label>
        <div class="controls">
            <input type="text" id="name-field" placeholder="eg: test">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="size-field">Size</label>
        <div class="controls">
            <input type="text" id="size-field" placeholder="eg: 1000">
        </div>
    </div>
</form>
<button class="btn btn-success" id="launch-deployment">Launch</button>
